# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Django
*.sqlite3
db.sqlite3
/media
/static
*.log

# Environment variables
.env
*.env

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Python virtual environments
venv/
env/
ENV/